/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    background-image: url('gif.gif');
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #474747;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background: linear-gradient(to right top, #00f, #0f0);
    padding: 1rem;
    text-align: center;
    width: 100%;
    max-width: 1200px;
}

header h1 {
    margin-bottom: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    border-radius: 8px;
    padding: 2rem;
    background-color: #72dedede;
    width: 100%;
    max-width: 800px;
    margin: 1rem auto;
}

h2 {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

section:hover {
    background: linear-gradient(to right top, #00f, #0f0);
    color: #fafafa;
    padding: 1rem;
    transition: background-color 1ms;
    border-radius: 8px
}

/* Report section */
.report-section {
    box-shadow: #474747;
    border: #00f;
    margin-bottom: 2rem;
}

/* Modals */
.modal {
    margin-top: 70px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-content {
    background: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    height: auto; /* Ajusta a altura conforme o conteúdo */
    max-height: 90vh; /* Garante que o modal não exceda a altura da viewport */
    overflow-y: auto; /* Permite rolagem vertical se o conteúdo for extenso */
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin: auto; /* Centraliza horizontalmente */
}

/* Estilo para os botões da caixa modal */
.modal-content button {
    background: linear-gradient(135deg, #244c68, #3a7693);
    color: #ffffff;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    margin: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
}

.modal-content button:hover {
    background: linear-gradient(135deg, #3a7693, #244c68);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.modal-content button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

button.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

button.icon-button i {
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.modal-content h2 {
    margin-bottom: 1rem;
}

.close {
    margin-right: 0.5rem;
    font-size: 1.2rem;
    transform: translateY(1px);
    box-shadow: 0 3px 6px rgba(255, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.close:hover {
    border-radius: 5px;
    background: linear-gradient(135deg, #ee6e6e, #d17777);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Responsividade */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    main {
        width: 90%;
        max-width: 600px;
    }

    .modal-content {
        width: 95%;
        max-width: 600px;
        padding: 1.5rem;
    }
}

@media (max-width: 480px) {
    header {
        padding: 0.5rem;
    }

    header h1 {
        font-size: 1.5rem;
    }

    .modal-content {
        width: 95%;
        max-width: 500px;
        padding: 1rem;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0.5rem 0;
    }
}
